<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Eco">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0026466 1.0934E-05 0.053726"
        rpy="0 0 0" />
      <mass
        value="1.4" />
      <inertia
        ixx="0.0032623"
        ixy="4.1343E-08"
        ixz="8.993E-05"
        iyy="0.0030123"
        iyz="6.9067E-07"
        izz="0.0037187" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link12">
    <inertial>
      <origin
        xyz="3.9914E-06 0.019093 -0.11462"
        rpy="0 0 0" />
      <mass
        value="3.336" />
      <inertia
        ixx="0.013839"
        ixy="-2.3035E-07"
        ixz="3.1798E-07"
        iyy="0.013748"
        iyz="0.0024737"
        izz="0.0037621" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link12.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link12.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.11"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="link12" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.6128"
      upper="3.6128"
      effort="226.24"
      velocity="3.14" />
  </joint>
  <link
    name="link23">
    <inertial>
      <origin
        xyz="-0.019913 -0.021997 -0.205"
        rpy="0 0 0" />
      <mass
        value="3.9" />
      <inertia
        ixx="0.089139"
        ixy="0.00093227"
        ixz="-3.3685E-07"
        iyy="0.090781"
        iyz="1.5496E-06"
        izz="0.0080865" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link23.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link23.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.00025 -0.2"
      rpy="0 0 0" />
    <parent
      link="link12" />
    <child
      link="link23" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.885"
      upper="2.3562"
      effort="226.24"
      velocity="3.14" />
  </joint>
  <link
    name="link34">
    <inertial>
      <origin
        xyz="-8.6767E-07 0.025625 -0.050988"
        rpy="0 0 0" />
      <mass
        value="4.181" />
      <inertia
        ixx="0.0069303"
        ixy="4.4437E-08"
        ixz="5.503E-08"
        iyy="0.0069875"
        iyz="-0.0012349"
        izz="0.0018414" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link34.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link34.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0 -0.41"
      rpy="0 0 0" />
    <parent
      link="link23" />
    <child
      link="link34" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.0246"
      upper="2.4958"
      effort="226.24"
      velocity="3.14" />
  </joint>
  <link
    name="link45">
    <inertial>
      <origin
        xyz="1.8794E-07 0.066881 0.13068"
        rpy="0 0 0" />
      <mass
        value="0.392" />
      <inertia
        ixx="0.014203"
        ixy="-6.7599E-08"
        ixz="-5.3431E-08"
        iyy="0.010467"
        iyz="-0.0057255"
        izz="0.0051181" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link45.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link45.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0.00025 -0.1725"
      rpy="-3.1416 0 0" />
    <parent
      link="link34" />
    <child
      link="link45" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.4034"
      upper="3.4034"
      effort="90.496"
      velocity="4.189" />
  </joint>
  <link
    name="link56">
    <inertial>
      <origin
        xyz="1.5705E-07 -0.063003 -0.003969"
        rpy="0 0 0" />
      <mass
        value="2.564" />
      <inertia
        ixx="0.0017858"
        ixy="-7.0681E-09"
        ixz="-7.1069E-10"
        iyy="0.0013182"
        iyz="-1.9868E-05"
        izz="0.001384" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link56.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link56.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.08 0.2325"
      rpy="0 0 0" />
    <parent
      link="link45" />
    <child
      link="link56" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.7751"
      upper="2.7751"
      effort="90.496"
      velocity="4.189" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="3.1911E-06 0.00043091 0.014726"
        rpy="0 0 0" />
      <mass
        value="0.1855" />
      <inertia
        ixx="8.6283E-05"
        ixy="-7.1144E-08"
        ixz="-8.2006E-09"
        iyy="8.9133E-05"
        iyz="-4.0364E-07"
        izz="0.00014966" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FProbotics/Eco/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 -0.08 0.0515"
      rpy="0 0 0" />
    <parent
      link="link56" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="90.496"
      velocity="4.189" />
  </joint>
</robot>