<?xml version="1.0"?>
<robot name="openarm_bimanual_ros2_control" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the macro definition using relative path -->
  <xacro:include filename="openarm.bimanual.ros2_control.xacro"/>

  <!-- Define arguments with defaults -->
  <xacro:arg name="arm_type" default="v10"/>
  <xacro:arg name="left_can_interface" default="can1"/>
  <xacro:arg name="right_can_interface" default="can0"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="hand" default="false"/>
  <xacro:arg name="left_arm_prefix" default="left_"/>
  <xacro:arg name="right_arm_prefix" default="right_"/>
  <xacro:arg name="can_fd" default="true"/>

  <!-- Instantiate the bimanual ros2_control macro -->
  <xacro:openarm_bimanual_ros2_control
      arm_type="$(arg arm_type)"
      left_can_interface="$(arg left_can_interface)"
      right_can_interface="$(arg right_can_interface)"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      hand="$(arg hand)"
      left_arm_prefix="$(arg left_arm_prefix)"
      right_arm_prefix="$(arg right_arm_prefix)"
      can_fd="$(arg can_fd)"/>

</robot>
