<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Robot Macro
       Facilitates connecting manipulator, adapter and tool parts.
  -->
  <xacro:macro name="robot"
               params="manipulator_xacro
                       tool_xacro
                       adapter_xacro:=''">

    <link name="robot_base"/>

    <!-- Manipulator -->
    <xacro:include filename="${manipulator_xacro}"/>
    <xacro:manipulator parent_link="robot_base"/>

    <!-- Adapter -->
    <xacro:if value="${adapter_xacro == ''}">
      <xacro:property name="tool_mount" value="${manipulator_tool_mount}"/>
    </xacro:if>
    <xacro:unless value="${adapter_xacro == ''}">
      <xacro:include filename="${adapter_xacro}"/>
      <xacro:adapter parent_link="${manipulator_tool_mount}"/>
      <xacro:property name="tool_mount" value="${adapter_tool_mount}"/>
    </xacro:unless>

    <!-- Tool -->
    <xacro:include filename="${tool_xacro}"/>
    <xacro:tool parent_link="${tool_mount}"/>

  </xacro:macro>

</robot>
