<?xml version="1.0"?>
<robot name="realsense_d455">

  <link name="realsense_d455_link">
  
    <visual>
      <origin xyz="0 0 100" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://realsenseD455/meshes/Realsense_D455.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.6 0.6 0.6 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 100" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://realsenseD455/meshes/Realsense_D455.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.2"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001"/>
    </inertial>
    
  </link>

</robot>
