<?xml version="1.0"?>
<robot name="otto1500">

  <!-- Base link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://Amrobotics_Otto1500/meshes/otto1500.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="otto_grey">
        <color rgba="0.65 0.65 0.65 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://Amrobotics_Otto1500/meshes/otto1500.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="450.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="50.0" ixy="0.0" ixz="0.0"
        iyy="80.0" iyz="0.0"
        izz="100.0"/>
    </inertial>
  </link>

</robot>
