<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="cube_visual" params="length width height *origin *color">
        <visual>
            <xacro:insert_block name="origin" />
            <geometry>
                <box size="${length} ${width} ${height}" />
            </geometry>
            <material name="color">
                <xacro:insert_block name="color" />
            </material>
        </visual>
    </xacro:macro>
</robot>
