<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="adapter" params="parent_link">

  <!-- Gripper and UR adapter-->
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
  <xacro:ur_to_robotiq prefix="" parent="${parent_link}" child="gripper_mount_link" rotation="0"/>

  <!-- expose attachment points -->
  <xacro:property name="adapter_tool_mount" scope="parent" value="gripper_mount_link"/>

</xacro:macro>

</robot>
