<?xml version="1.0"?>
<robot name="picknik_switch_panel" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="switch_panel_color"><color rgba="0.6 0.6 0.6 1"/></material>
  <material name="switch_color"><color rgba="1.0 0.0 0.0 1"/></material>

  <xacro:macro name="picknik_switch_panel" params="parent *origin">
    <joint name="switch_panel_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="switch_panel"/>
      <xacro:insert_block name="origin"/>
    </joint>
    <link name="switch_panel">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://picknik_accessories/descriptions/furniture/switch_panel/switch_panel.dae"/>
          </geometry>
          <material name="switch_panel_color"/>
      </visual>
      <collision>
        <origin xyz="-0.15 0.20 0.3" rpy="0 0 0"/>
        <geometry>
            <box size="0.30 0.40 0.60"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.15 0.20 0.3" rpy="0 0 0"/>
        <mass value="25"/>
        <inertia  ixx="0.001" ixy="0.0"  ixz="0.0"
                  iyy="0.001" iyz="0.0"
                  izz="0.001"/>
      </inertial>
    </link>
    <!-- AR Tags on the Top left of the switch_panel-->
    <joint name="switch_panel_ar_joint" type="fixed">
      <parent link="switch_panel"/>
      <child link="switch_panel_ar_tag"/>
      <origin xyz="0.001 0.03 0.55" rpy="0 0 0"/>
    </joint>
    <link name="switch_panel_ar_tag">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://picknik_accessories/descriptions/ar_markers/Marker10.dae" scale="0.01 0.1 0.1"/>
          </geometry>
      </visual>
      <inertial>
        <origin xyz="0.0 0.0 0.00" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia  ixx="0.001" ixy="0.0" ixz="0.0"
                  iyy="0.001" iyz="0.0"
                  izz="0.001"/>
      </inertial>
    </link>

    <xacro:macro name="button" params="prefix marker_tag">
      <joint name="button_${prefix}_joint" type="fixed">
        <parent link="switch_panel"/>
        <child link="button_${prefix}"/>
        <origin xyz="0.0 ${(prefix*0.2)+0.1} 0.5" rpy="0 0 0"/>
      </joint>

      <link name="button_${prefix}">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://picknik_accessories/descriptions/furniture/switch_panel/button.dae"/>
            </geometry>
            <material name="switch_color"/>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <mesh filename="package://picknik_accessories/descriptions/furniture/switch_panel/button.dae"/>
          </geometry>
        </collision>
        <inertial>
          <origin xyz="0.225 0.14 0.05" rpy="0 0 0"/>
          <mass value="1"/>
          <inertia  ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001"/>
        </inertial>
      </link>

      <!-- Make the buttons red in gazebo -->
      <gazebo reference="button_${prefix}">
        <material>Gazebo/Red</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <selfCollide>False</selfCollide>
      </gazebo>

    </xacro:macro>

    <xacro:button prefix="0" marker_tag="11"/>
    <xacro:button prefix="1" marker_tag="12"/>

  </xacro:macro>
</robot>
