<?xml version="1.0"?>
<robot name="pi_camerav3">

  <link name="pi_camerav3_link">
  
    <visual>
      <origin xyz="0 0 10" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://Pi_CameraV3/meshes/Pi_CameraV3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://Pi_CameraV3/meshes/Pi_CameraV3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.004"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="0.00001" ixy="0.0" ixz="0.0"
        iyy="0.00001" iyz="0.0"
        izz="0.00001"/>
    </inertial>
    
  </link>

</robot>
