<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="use_fake_hardware" default="True"/>

  <xacro:macro name="tool"
               params="parent_link com_port:=/dev/ttyUSB0">

    <!-- Robotiq 2F Gripper -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
    <xacro:robotiq_gripper
      name="RobotiqGripperHardwareInterface"
      prefix=""
      parent="${parent_link}"
      use_fake_hardware="$(arg use_fake_hardware)"
      com_port="${com_port}">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_gripper>

    <!-- This frame aligns the gripper with the coordinate convention required for motion planning tasks. -->
    <link name="grasp_link"/>
    <joint name="grasp_link_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="grasp_link"/>
      <origin xyz="0.0 0.0 0.134" rpy="0.0 0.0 ${pi}"/>
    </joint>

  </xacro:macro>

</robot>
