<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Optional suction system setup, disabled by default -->
  <xacro:arg name="epick_extension_radius" default="0.0"/>
  <xacro:arg name="epick_extension_length" default="0.0"/>
  <xacro:arg name="epick_suction_cup_radius" default="0.0"/>
  <xacro:arg name="epick_suction_cup_height" default="0.0"/>
  <xacro:arg name="epick_tcp_stroke_compensation" default="0.0"/>

  <xacro:macro name="tool"
               params="parent_link">

    <!-- Robotiq EPick Gripper -->
    <xacro:include filename="$(find epick_description)/urdf/epick_single_suction_cup.xacro"/>
    <xacro:epick_single_suction_cup prefix=""
                                    parent="${parent_link}"
                                    extension_radius="$(arg epick_extension_radius)"
                                    extension_length="$(arg epick_extension_length)"
                                    suction_cup_radius="$(arg epick_suction_cup_radius)"
                                    suction_cup_height="$(arg epick_suction_cup_height)"
	                            tcp_stroke_compensation="$(arg epick_tcp_stroke_compensation)"
	                            use_fake_hardware="false"
	    />

    <link name="grasp_link"/>
    <joint name="grasp_link_joint" type="fixed">
      <parent link="epick_tcp"/>
      <child link="grasp_link"/>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
    </joint>

    <!-- Moveit Studio requires a link name called manual_grasp_link to perform quick tasks such as inspect surface -->
    <link name="manual_grasp_link"/>
    <joint name="manual_grasp_joint" type="fixed">
      <parent link="grasp_link"/>
      <child link="manual_grasp_link"/>
      <origin xyz="0 0 0" rpy="${pi / 180.0 * 5} 0 0"/>
    </joint>

  </xacro:macro>

</robot>
