<robot name="le_kiwi">

  <link name="le_kiwi_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/../../meshes/LeKiwi.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="gray">
        <color rgba="0.8 0.8 0.8 1.0" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/../../meshes/LeKiwi.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>

    <inertial>
      <mass value="12.0" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.24" ixy="0.0" ixz="0.0" iyy="0.25" iyz="0.0" izz="0.15" />
    </inertial>

  </link>

</robot>
