<?xml version="1.0"?>
<robot name="substation">

  <link name="substation_base_link">
  
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://Substation/meshes/substation.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="industrial_gray">
        <color rgba="0.45 0.45 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://Substation/meshes/substation_collision.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="5000.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="1000.0" ixy="0.0" ixz="0.0"
        iyy="1000.0" iyz="0.0"
        izz="1000.0"/>
    </inertial>
    
  </link>

</robot>
