<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="pole" params="link_name connected_to length radius alpha *origin">
    <link name="${link_name}">
      <visual>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 ${alpha}"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
      </collision>
    </link>
    <joint name="${link_name}" type="fixed">
      <parent link="${connected_to}"/>
      <child link = "${link_name}"/>
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>
</robot>
