<?xml version="1.0"?>
<robot name="logitech_c920">

  <link name="camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.162"/>
      <inertia ixx="0.00025" ixy="0.0" ixz="0.0"
               iyy="0.00020" iyz="0.0" izz="0.00015"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://your_package_name/meshes/logitech-c920.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark_gray">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://your_package_name/meshes/logitech-c920.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="camera_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
