<?xml version='1.0' encoding='UTF-8'?>
<robot name="logitech_c920">
  <link name="camera">
    <visual>
      <geometry>
        <mesh filename="logitech_c920.stl" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="logitech_c920.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
</robot>
