<?xml version="1.0"?>
<robot name="logitech_c920_web_cam_cover">
  <link name="cover_link">
    <inertial>
      <mass value="0.02"/>  
      <inertia
        ixx="1.0e-6" iyy="1.0e-6" izz="1.0e-6"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://c920/meshes/Logitech_C920_Web_Cam_Cover.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.6 0.6 0.6 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://c920/meshes/Logitech_C920_Web_Cam_Cover.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

</robot>
